/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color: #008cff;
    margin: 0;
    padding: 0;
  }

  a {
    color: #ff00d9;
    text-decoration: none;
  }

  a:hover {
    color: #6d0e6d;
    text-decoration: underline;
  }

  /* Header styles */
  header {
    background-color: #8000ff;
    color: #ffffff;
    padding: 1em;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 2em;
  }

  /* Navigation styles */
  nav {
    background-color: #ff00ff;
    padding: 1em;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 1em;
  }

  nav a {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
  }

  /* Main content styles */
  main {
    padding: 1em;
  }

  /* Footer styles */
  footer {
